body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    background: white;
    border-bottom: 1px solid #ddd;
}
.nav-links {
    display: flex;
    gap: 15px;
    margin-left: 40px;
}
.nav-links-log {
    display: flex;
    gap: 15px;
    margin-left: 650px;
}
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(../Microsoft/img/pic1.webp);
    background-size: 100%;
    padding: 60px 80px;
    min-height: 50vh;
}
.hero-text {
    background: white;
    padding: 30px;
    width: 40%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.hero-text h1 {
    font-size: 2em;
    margin-bottom: 10px;
}
.hero-text p {
    font-size: 1.1em;
    color: #333;
}
.hero-text button {
    background: #0078d4;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    font-size: 1em;
}
.hero-image {
    flex: 1;
    display: flex;
    justify-content: center;
}
.hero-image img {
    max-width: 90%;
    height: auto;
}
.icon-section {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px 0;
    text-align: center;
}
.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon img {
    width: 50px;
    height: 50px;
}
.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.product-card {
    width: 250px;
    border: 1px solid #ddd;
    background: white;
}
.product-card img {
    width: 100%;
    height: auto;
}
.product-card button {
    background: #0078d4;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.product-text {
    padding-left: 15px;
    padding-bottom: 15px;
}

.logo img {
    width: 150px;
}

.block2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    background-color: blue;
    padding-bottom: 10px;
    width: 100%;
}

.block2 a {
    color: white
}
